/* Body/Other */
root
{
    background-color: var(#1a163e);
}

body
{
    background-color: #222034;
    margin: 0;
    ::-webkit-scrollbar{width: 15px;}
    ::-webkit-scrollbar-track{background-color: #7168b3; border-radius: 100px;}
    ::-webkit-scrollbar-thumb{background: linear-gradient(rgb(3, 255, 226), rgb(255, 0, 187)); cursor: pointer; outline: solid 2px #ffffff; border-radius: 100px;}
    user-select: none;
}

a
{
    text-decoration: none;
}
a:active
{
    color: white;
}
a:link
{
    color: white;
}

.divider
{
    border: none;
    border-radius: 100px;
    height: 5px;
    background-color: #7168b3;
}

::selection 
{
    background-color: #7168b3;
    color: #ffffff;
}

/* Container */ 
.container
{
    display: flex;
}

/* left tab */
.left-tab
{
    width: 40px; height: 976px;
    background-color: #2a2741;
    padding: 6px;  
}

/* Left tab Buttons */
.button1
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    font-size: 100%;
}
.button2
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 1px;
}
.button3
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 1px;
}
.button4
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 1px;
}
.button5
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 1px;
}
.button6
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 1px;
}

.button1:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}
.button2:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}
.button3:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}
.button4:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}
.button5:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}
.button6:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}

/* File Explorer */
.file-explorer
{
    background-color: #1a1929;
    width: 400px; height: 976px;
    min-width: 30px;
    max-width: 800px;
    resize: horizontal;
    overflow: auto;
    scrollbar-width: none;
    padding: 6px;
}

.new-file
{
    width: 30px; height: 30px;
    cursor: pointer;
    border: none;
}
.new-file:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}

.new-folder
{
    width: 30px; height: 30px;
    cursor: pointer;
    border: none;
}
.new-folder:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}

.refresh
{
    width: 30px; height: 30px;   
    cursor: pointer;
    border: none;
}
.refresh:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}

.collapse
{
    width: 30px; height: 30px;
    cursor: pointer;
    border: none;
}
.collapse:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}

/* Text area */
.textarea
{
    background-color: #353152;
    width: 1400px; height: 976px;
    min-width: 200px;
    max-width: 100%;
    resize: horizontal;
    overflow: auto;
    scrollbar-width: none;
    padding: 6px;
    font-family: 'Ubuntu', sans-serif;
}
.textarea textarea 
{
    width: 100%; height: 100%;
    box-sizing: border-box;
}

.textarea-edit
{
    outline: none;
    border: none;
    resize: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

.more-action
{   
    width: 30px; height: 30px;
    cursor: pointer;
    border: none;
}
.more-action:hover
{
    background: linear-gradient(to bottom right , rgb(3, 255, 226), rgb(255, 0, 187));
    outline: solid 2px #ffffff;
    border-radius: 5px;
}

/* Status Bar */
.container-for-status-bar
{
    display: flex;
}

.status-bar
{
    background-color: #13131f;
    width: 100%; height: 20px;
}