/* BODY & OTHER STUFF*/
root
{
    background-color: var(#1a163e);
}

body
{
    background-color: #000000;
    margin: 0;
    ::-webkit-scrollbar{width: 10px;}
    ::-webkit-scrollbar-track{background-color: #7168b3; border-radius: 100px;}
    ::-webkit-scrollbar-thumb{background: linear-gradient(rgb(3, 255, 226), rgb(255, 0, 187)); cursor: pointer; outline: solid 2px #ffffff; border-radius: 100px;}
    user-select: none;
}

a{text-decoration: none;}
a:active{color: white;}
a:link{color: white;}

::selection 
{
    background-color: #8a81ce;
    color: #ffffff;
}

.description
{
    font-size: 10px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

/* MENU BAR CONTAINER */
.menu-bar-container{display: flex; background-color: #151231;}

/* MENU BAR */
.menu-bar
{
    display: flex;
    gap: 2px;
    align-items: center;
    height: 20px;
    padding: 5px;
}

.menu-item 
{
    position: relative;
}

.item
{
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    color: #ffffff;
    background: #151231;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
}
.item:hover
{
    background: linear-gradient(to bottom right, #3dffaf, #6b00a7);
    border-radius: 2px;
    outline: solid 3px #ffffff;
}
.item:hover + .content,
.content:hover
{
    display: block;
}

.content
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2f2864;
    outline: solid 3px #ffffff;
    border-radius: 2px;
    min-width: 150px;
    z-index: 1;
}
.content button
{
    display: block;
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    color: #ffffff;
    background: #2f2864;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
}
.content button:hover
{
    background: linear-gradient(to bottom right, #3dffaf, #6b00a7);
    border-radius: 2px;
    outline: solid 3px #ffffff;
}

/* CONTAINER */ 
.container{display: flex;}

/* LEFT TAB */
.left-tab
{
    width: 45px; height: 965px;
    background-color: #151231;
    padding: 6px;
}

/* LEFT TABS BUTTONS */
.file
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 4px;
}
.git
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 4px;
}
.docs
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 4px;
}
.account
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 4px;
}
.settings
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 4px;
}
.hide-file
{
    cursor: pointer;
    width: 40px; height: 40px;
    border: none;
    margin-top: 4px;
}

.file-button
{
    background-color: #2f2864;
}
.git-button
{
    background-color: #2f2864;
    margin-top: 6px;
}
.docs-button
{
    background-color: #2f2864;
    margin-top: 6px;
}
.account-button
{
    background-color: #2f2864;
    margin-top: 6px;
}
.settings-button
{
    background-color: #2f2864;
    margin-top: 6px;
}
.hide-file-button
{
    background-color: #2f2864;
    margin-top: 6px;
}

.file-button:hover
{
    background: linear-gradient(to bottom right , #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}
.git-button:hover
{
    background: linear-gradient(to bottom right , #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}
.docs-button:hover
{
    background: linear-gradient(to bottom right , #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}
.account-button:hover
{
    background: linear-gradient(to bottom right , #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}
.settings-button:hover
{
    background: linear-gradient(to bottom right , #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}
.hide-file-button:hover
{
    background: linear-gradient(to bottom right , #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}

/* FILE EXPLORER */
.file-explorer
{
    background-color: #310f53;
    width: 400px; height: 969px;
    min-width: 145px;
    max-width: 800px;
    resize: horizontal;
    overflow: auto;
    scrollbar-width: none;
    padding: 4px;
}

/* FILE EXPLORER BUTTON */
.new-file
{
    width: 30px; height: 30px;
    cursor: pointer;
    border: none;
}
.new-file:hover
{
    background: linear-gradient(to bottom right, #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}

.new-folder
{
    width: 30px; height: 30px;
    cursor: pointer;
    border: none;
}
.new-folder:hover
{
    background: linear-gradient(to bottom right, #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}

.refresh
{
    width: 30px; height: 30px;   
    cursor: pointer;
    border: none;
}
.refresh:hover
{
    background: linear-gradient(to bottom right, #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}

.collapse
{
    width: 30px; height: 30px;
    cursor: pointer;
    border: none;
}
.collapse:hover
{
    background: linear-gradient(to bottom right, #3dffaf, #6b00a7);
    outline: solid 3px #ffffff;
    border-radius: 5px;
}

/* jstree */
.jstree
{
    color: #ffffff;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    background-color: #390f66;
    width: 100%; height: 935px;
    border-radius: 10px;
}

/* TEXTAREA */
.editor
{
    background-color: #410a61;
    width: 1450px; height: 965px;
    min-width: 200px;
    max-width: 100%;
    resize: horizontal;
    overflow: auto;
    scrollbar-width: none;
    padding: 6px;
    font-family: 'Ubuntu', sans-serif;
}
.editor textarea 
{
    width: 100%; height: 950px;
    box-sizing: border-box;
}

.textarea-edit
{
    outline: none;
    border: none;
    resize: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}